@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

body {
    background: linear-gradient(#0040806d, #001a33ac), url("https://images.pexels.com/photos/4050315/pexels-photo-4050315.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100vh;
  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .head {
        font-family: "Montserrat Subrayada", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
 
 #book-form {
     color: #f2f2f2; 
     font-family: "Paprika", system-ui;
     font-weight: 400;
     font-style: normal;
     width: 600px;
 }
 
 .btn {
     margin-top: 10px;
 }