@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

body {
    background: linear-gradient(#000000ad, #000000c4), url("https://images.pexels.com/photos/1031588/pexels-photo-1031588.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100vh;
  
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    .head {
        font-family: "Montserrat Subrayada", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #f2f2f2;
      }
 
 #book-form {
     color: #f2f2f2; 
     font-family: "Paprika", system-ui;
     font-weight: 400;
     font-style: normal;
     min-width: 400px;
 }
 .customTable{
    width: 400px !important;
    border-radius: 50px !important;
    color: #f2f2f2; 
     font-family: "Paprika", system-ui;
     font-weight: 400;
     font-style: normal;
     min-width: 400px;

 }
 
 .btn {
     margin-top: 10px;
 }